[package]
name = "signal-attestation"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
anchor-lang = "0.30"

[features]
default = []
cpi = ["no-entrypoint"]
no-entrypoint = []
